{% extends 'base.html' %}

{% block content %}

<h2>
🛒 Mi Pedido
</h2>

<table class="table table-striped">

    <thead>

        <tr>

            <th>Producto</th>
            <th>Talla</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>

        </tr>

    </thead>

    <tbody>

        {% for item in items %}

        <tr>

            <td>
                {{ item.producto.nombre }}
            </td>

            <td>
                {{ item.talla.nombre }}
            </td>

            <td>
                {{ item.cantidad }}
            </td>

            <td>
                ${{ item.producto.precio }}
            </td>

            <td>
                ${{ item.subtotal }}
            </td>

        </tr>

        {% empty %}

        <tr>

            <td colspan="5">

                No hay productos en el carrito.

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

<div class="text-end">

    <h3>

        Total:
        ${{ total }}

    </h3>

</div>
<div class="mt-3">

    <a
        href="{% url 'confirmar_pedido' %}"
        class="btn btn-success btn-lg">

        Confirmar Pedido

    </a>

</div>

{% endblock %}