{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
📋 Mis Pedidos
</h2>

{% for pedido in pedidos %}

<div class="card shadow mb-3">

    <div class="card-body">

        <h5>
            Pedido #{{ pedido.id }}
        </h5>

        <p>
            Fecha:
            {{ pedido.fecha }}
        </p>

        <p>
            Estado:
            <strong>
                {{ pedido.estado }}
            </strong>
        </p>

        <a
        href="{% url 'detalle_pedido' pedido.id %}"
        class="btn btn-dark">
            Ver Detalle
        </a>

    </div>

</div>

{% empty %}

<div class="alert alert-info">

    No tienes pedidos registrados.

</div>

{% endfor %}

{% endblock %}