<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

<title>Wimon Bodega</title>

</head>

<body class="bg-light">

<nav class="navbar navbar-dark bg-dark">

<div class="container">

<span class="navbar-brand">
Wimon Bodega
</span>

</div>

</nav>

<div class="container mt-5">

<div class="card shadow">

<div class="card-body">

<h1>
Sistema de Inventario
</h1>

<p>
Distribución de tenis y zapatillas.
</p>

</div>

</div>

</div>

</body>

</html>