{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
📊 Dashboard Administrativo
</h2>

<form method="GET" class="row mb-4">

    <div class="col-md-4">
        <label>Fecha Inicio</label>
        <input
            type="date"
            name="inicio"
            class="form-control"
            value="{{ request.GET.inicio }}">
    </div>

    <div class="col-md-4">
        <label>Fecha Fin</label>
        <input
            type="date"
            name="fin"
            class="form-control"
            value="{{ request.GET.fin }}">
    </div>

    <div class="col-md-4 d-flex align-items-end">
        <button
            type="submit"
            class="btn btn-primary w-100">
            Buscar
        </button>
    </div>

</form>

<div class="row mb-4">

    <div class="col-md-4">

        <div class="card shadow p-3">

            <h5>💰 Ventas Totales</h5>

            <h3>
                ${{ ventas }}
            </h3>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow p-3">

            <h5>📦 Inversión</h5>

            <h3>
                ${{ inversion }}
            </h3>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow p-3">

            <h5>📈 Ganancia</h5>

            <h3>
                ${{ ganancia }}
            </h3>

        </div>

    </div>

</div>

<hr>
<h3 class="mt-4">
👥 Ventas por Cliente
</h3>

<table class="table table-bordered">

    <thead>

        <tr>

            <th>Cliente</th>
            <th>Cantidad Pedidos</th>
            <th>Total Comprado</th>

        </tr>

    </thead>

    <tbody>

        {% for nombre, datos in clientes.items %}

        <tr>

            <td>
    <a href="/dashboard/cliente/{{ datos.id }}/">
        {{ nombre }}
    </a>
</td>

            <td>
                {{ datos.pedidos }}
            </td>

            <td>
                ${{ datos.total }}
            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

<h4 class="mb-3">
📋 Pedidos
</h4>

<table class="table table-striped">

<thead>

<tr>

<th>#</th>
<th>Cliente</th>
<th>Fecha</th>
<th>Estado</th>

</tr>

</thead>

<tbody>

{% for pedido in pedidos %}

<tr>

<td>
#{{ pedido.id }}
</td>

<td>
{{ pedido.cliente.username }}
</td>

<td>
{{ pedido.fecha|date:"d/m/Y H:i" }}
</td>

<td>
{{ pedido.estado }}
</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}